body, html {
    /* I set the background to have a linear gradient. This gradient starts from a beige color (#CFB997) at the top to a gray color (#7F7F7F) at the bottom. */
    background: linear-gradient(to bottom, #18130c, #3e2f2f);
  
    /* I set the height of the body to 100% so that it would fill the entire viewport. */
    height: 100%;
  
    /* I set the margin to 0 to remove the default margin. */
    margin: 0;
  }
  
  .Embed-Video {
    /* I set the display to flex. */
    display: flex;
  
    /* I set the flex-direction to column. */
    flex-direction: column;
  
    /* I set the justify-content to center the content vertically. */
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  video {
    width: 100%;
    height: auto; 
    max-width: 1000px;}