body{
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: #6d3a27; /* Change background color */
    color:#333; /* Change text color */
}

header{
    background-color: #6d3a27; /* Change header background color */
    color: #fff; /* Change header text color */
    padding: 20px;
    text-align: center;
}

h1{
    font-size: 36px;
    margin: 0;
}

p{
    font-size: 18px;
}

.container {
    max-width: 800px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}


.pizza-image{
    display: block;
    margin: 0 auto; /* Center the image */
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

ul, ol {
     font-size: 16px;
     margin-top: 0;
}

li{
    margin-bottom: 10px;
}

footer{
    background-color: #6d3a27;
    color: #fff;
    padding: 20px;
    text-align: center;
}