body{
    background-color: rgb(26, 25, 25);/*This tag changes the background color*/
    
}
.image-container {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribute items evenly along the main axis */
}

figure {
    flex: 0 0 auto; /* Ensure figures don't grow or shrink */
    margin: 0; /* Remove default margin */
}

img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
}
 header{
    text-align: center;/*this tag brings the text centre*/
 }
 h1{
    margin: 0;
    padding: 20px 0;
    color: #ffffff;
 }

 img{
    max-width: 100;
    height: auto;
 }
 .blur{
    filter: blur(2px);/*this filter brings the blue effect on the image*/
 }
 .grayscale{
    filter: grayscale(100%);/*the filter brings grayscale effect on the image*/
 }
.invert{
    filter:saturate(2)
}
p {
    color: #ffffff;
}